

<div id="app">

</div>

@section Scripts
{
    <script src="~/app/vue/vue.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>

    <script src="~/signalr/hubs"></script>

    <script src="~/app/dist/publish/js/app.bundle.js?v=@DateTime.Now"></script>
}
